PORT=5050
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=nroshield_v2
JWT_SECRET=supersecretv2
VPS_PUBLIC_IP=103.77.246.150

# Telegram Bot Alerts
TELEGRAM_ENABLED=false
TELEGRAM_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id
